{% extends 'base.html.twig' %}

{% block title %} {{ "News List" }} {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td>{{ "Title" }}</td>
                    <td>{{ "Short Description" }}</td>
                    <td>{{ "Image" }}</td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>{{ 'Action' }}</td>
                    {% endif %}
                </tr>
                <tbody>
                {% for news in pagination %}
                    <tr>
                        <td>{{ news.title }}</td>
                        <td>{{ news.shortDescription }}</td>
                        <td>
                            <img height="50" width="50" src="{{ asset(image_directory ~ news.image) }}" alt="{{ news.title|slice(0, 10) }}">
                        </td>
                        {% if is_granted("ROLE_ADMIN") %}
                            <td>
                                <a href="{{ path("news_delete", {'id' : news.id}) }}">
                                    <i class="fas fa-trash text-danger"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}